# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: publish
env:
  DEBUG: napi:*
  APP_NAME: lm_x
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'
on:
  workflow_dispatch: # 添加手动触发支持
  # push:
  #   branches:
  #     - release


jobs:

# 1111
  platform-build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            build: yarn build --target x86_64-apple-darwin
          - host: windows-latest
            build: yarn build --target x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: yarn build --target x86_64-unknown-linux-gnu --use-napi-cross
          - host: macos-latest
            target: aarch64-apple-darwin
            build: yarn build --target aarch64-apple-darwin
    name: stable - ${{ matrix.settings.target }} - node@22
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            ${{ env.APP_NAME }}.*.node
            ${{ env.APP_NAME }}.*.wasm
          if-no-files-found: error

# 2222

  build:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
      contents: write
    steps:

      - uses: actions/checkout@v6
        with:
          ref: "release"
          token: ${{ secrets.GITHUB_TOKEN }}  # 使用 Personal Access Token
          fetch-depth: 0  # 获取完整历史记录
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - run: pnpm install --no-frozen-lockfile
      - run: pnpm run build



      - run: git config --global user.email "noah199@qq.com"
      - run: git config --global user.name "NenX"


      - name: Build Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
        # Commit message
          commit_message: "after build !!"
        # Git branch name, where changes should be pushed too
          branch: "release"  # 修复：使用当前分支而不是head_ref
        # Commit options
          commit_options: '--no-verify'
        # Push options
          push_options: '--force'






      - run: pnpm lerna:publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          # NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: git status

      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v7.1.0
        with:
        # Commit message
          commit_message: "release !!"
        # Git branch name, where changes should be pushed too
          branch: "release"  # 修复：使用当前分支而不是head_ref
        # Commit options
          commit_options: '--no-verify'
        # Push options
          push_options: '--force'
      - run: echo "release 成功！"




