# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: publish-test
env:
  DEBUG: napi:*
  APP_NAME: lm_x
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'
on:
  workflow_dispatch: # 添加手动触发支持
  # push:
  #   branches:
  #     - release


jobs:

# 1111
  native-build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            buildArgs: --target x86_64-apple-darwin
          - host: windows-latest
            buildArgs: --target x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            buildArgs: --target x86_64-unknown-linux-gnu --use-napi-cross
          - host: macos-latest
            target: aarch64-apple-darwin
            buildArgs: --target aarch64-apple-darwin
    name: stable - ${{ matrix.settings.target }} - node@22
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash
      - name: Install dependencies
        run: pnpm install

      - name: Version
        run: pnpm lerna:version
        shell: bash
      - name: Build
        run: pnpm lerna:build -- ${{ matrix.settings.buildArgs }}
        shell: bash

      - name: List packages
        run: ls -R ./packages
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            packages/*/${{ env.APP_NAME }}.*.node
            packages/*/${{ env.APP_NAME }}.*.wasm
          if-no-files-found: error

# 2222

  build:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
      contents: write
    steps:

      - uses: actions/checkout@v6
        with:
          ref: "release"
          token: ${{ secrets.GITHUB_TOKEN }}  # 使用 Personal Access Token
          fetch-depth: 0  # 获取完整历史记录

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'



      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts


      - name: List packages
        run: ls -R ./packages
        shell: bash

      - name: List artifacts
        run: ls -R ./artifacts
        shell: bash

      - run: echo "release 成功！"




